body {
    font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;
    content: center; 
}
.header {
    background: url('img/travel.jpg') no-repeat center; 
    height: 750px; width: 100%;color: rgb(2, 17, 7); 
    text-align: center; padding: 20px;
}
.header-1 {
    
    height: 750px; width: 100%;color: rgb(2, 17, 7); 
    text-align: center; padding: 20px;
}
#title {
    font-family: 'Albert Sans';font-size: 52px; font-weight: 900;
    text-align: center; padding: 100px; background: url('travel-banner.jpg') no-repeat center; 
    color: rgb(2, 17, 7);

}
#slogan {
    font-family: 'Sofia';font-size: 42px;
    text-align: center; padding: 0px; 
    background: url('travel-banner.jpg') no-repeat center; 
    color: rgb(10, 121, 47); 
}
.hero { text-align: center; padding: 50px; 
    background: url('travel-banner.jpg') no-repeat center; 
    color: rgb(196, 130, 130); 
}
.book-now-button {
    display: inline-block;
    background: #ff6f61;
    color: white;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}
.book-now-button:hover {
    background: #e05a4f;
    transform: scale(1.1);
}

.main-content {
    display: flex; flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    padding: 0px;
}

.footer{
  
    height: 200px; width: 100%;color: rgb(2, 17, 7); 
    text-align: center; padding: 20px;
}